<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Portafolio</title>
</head>
<body>

<header>
    <h1>Denia Yanin González Hernández</h1>
</header>

<nav>
    <a href="#proyectos">Proyectos</a>
    <a href="#tecnologias">Tecnologías</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
</nav>

<section id="proyectos">
    <h2>Proyectos personales</h2>
    <ul>
        <li><a href="#">Check Intime</a></li>
        <li><a href="#">MundoAutopartes</a></li>
        <li><a href="#">Visitag</a></li>
        <li><a href="#">Plataforma web híbrida DIF Huetamo</a></li>
        <li><a href="#">Solearis</a></li>
    </ul>
</section>

<section id="tecnologias">
    <h2>Tecnologías</h2>
    <ul>
        <li>Java</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Bootstrap 5</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>MySQL</li>
        <li>SQLServer</li>
        <li>GitHub</li>
        <li>Docker</li>
    </ul>
</section>

<section id="sobre-mi">
    <h2>Sobre mí</h2>
    <p>¡Hola! Soy Denia Yanin González Hernández, una desarrolladora web apasionada por crear soluciones creativas y funcionales.</p>
    <p>Me especializo en tecnologías cómo HTML, CSS, Bootstrap, JavaScript, Node.js, MySQL.</p>
</section>

<section id="contacto">
    <h2>Contacto</h2>
    <p>Puedes contactarme a través de:</p>
    <ul>
        <li>Email: correo@example.com</li>
        <li>Teléfono: 123-456-7890</li>
        <li>Redes Sociales: <a href="#">Twitter</a>, <a href="#">LinkedIn</a>, <a href="#">GitHub</a></li>
    </ul>
</section>

<!-- <footer>
    <p>&copy; 2024 Denia Yanin González Hernández
        <br>
        Desarrolladora full stack
    </p>
</footer> -->

</body>

<footer>
    <p>&copy; 2024 Denia Yanin González Hernández
        <br>
        Desarrolladora full stack
    </p>
</footer>

</html>
